/* src/components/Modal.css */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 20px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1000;
  }
  
  .modal h3 {
	font-size: 20px;
	margin-bottom: 10px;
  }
  
  .modal p {
	font-size: 16px;
	margin-bottom: 5px;
  }
  